[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
opencv-python = "==4.1.2.30"
pyside2 = "*"

[packages]
pydicom = "*"
matplotlib = "*"
dicom2nifti = "*"
numpy = "*"
nibabel = "*"
jupyter = "*"
lymphangioma-segmentation = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3.8"
